.about-body{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(5,150px);
  width: 75%;
  margin: 0 auto;
  position: absolute;
  top: 60px;
  bottom: 0;
  grid-column-gap:4em;
}

.flex-box{
  display: flex;
  justify-content: center;
}

#pro-pic{
  height:auto;
  background-position: center center;
  border:0.5px solid #dee4ed;
  box-shadow: 0 3px 15px rgba(57,63,72,.5);
  margin: 0 auto;
  padding: 0.3em;
}

#about-me{
  grid-row-start:3;
  grid-column: 1;
}


#resume{
  grid-column: 2;
  grid-row-start:2;
  margin-top: 1em;
  padding-bottom: 5em;
}


section p{
  text-align: left;
}

form{
  width: 100%;
}

.form-group{
  display: flex;
  justify-content: space-between;
}

.input-flexut-small{
  margin: 0 0.4em;
  max-width: 30em;
}


.accordion{
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  transition: none;
  text-transform: uppercase;
  border:none;
  background-color: transparent;
  border-bottom: 1px solid #e27d60;
  border-radius: 0;
  padding: 0.2em;
}

.form{
  overflow: hidden;
  margin: 1em;
}

.accordion h2{
  font-size: 1rem;
  color: #374054;
  font-weight: normal;
}

.caption{
  line-height: normal;
  margin-top:1em;
  text-align: left;
}

.left{
  margin-left: 1em;
}
span svg{
  margin-right:3px;
}

#about-user{
  grid-column: 2;
  padding-bottom: 2em;
  grid-row:1/3;
  padding-top: 2em;
}

#bio-section{
  grid-row-start:1;
  padding-top: 2em;
}

#about #tablinks{
  border-top: 0.5px solid rgba(39, 179, 45,0.4);
  padding-top: 1em;
}

#name{
  display: inline-block;
  font-weight: normal;
  font-size: 2em;
  text-transform: capitalize;
  line-height: normal;
}

#about-user p{
  padding: 0;
  margin: 0;

}

.main{
    display: inline-block;
    font-size: 1.2rem;
}

.res-item{
  padding: 0 4px;
  font-size: 0.95em;
  line-height: 1.3;
}

.position{
  font-style: italic;
}

.date{
  margin: 0;
  line-height: normal;
}

.desc{
  margin-top: 3px;
}

.edu{
  line-height: normal;
  margin-top: 3px;
}

.expand{
  position: relative;
  font-size: 1rem;
  color: #374054;
  float: right;
  margin-top: 0.5em;
}

.about-expand{
  color:rgba(55, 64, 84,0.9);
  font-size: 1rem;
  padding: 0;
}

.table{
  margin-top: 1em;
}
.table.accordion{
  margin-bottom: 1em;

}

.input-flex,.input-flex-2{
  display: flex;
  margin: 0.5em 0;
}

.input-flex-2 input, .input-flex input{
  margin-right: 0.5em;
}

.input-flex-2 select{
  width: auto;
  margin-right: 0.5em;
  height: 3.5em;
}

.edu-ex{
  border-bottom: 0.5px solid rgb(39, 179, 45,0.4);
  margin: 5px;
}

.skill{
  display: inline-flex;
  margin: 5px;
  border-radius: .25rem;
  line-height: 2rem;
  overflow: hidden;
  padding: .2rem 1rem;
  width: auto;
  border-radius: .25rem;
  text-align: center;
  border: 0.5px solid rgba(39, 179, 45,0.1);
  font-size: 0.8em;
  letter-spacing: .03rem;
  text-transform: uppercase;
  font-weight: 700;
  min-width: 2rem;
}

.delete{
  font-size: 0.8rem;
  margin-left: 1em;
}

.delete:hover{
  cursor: pointer;
}

label{
  font-size:0.8rem;
 }

.hidden{
   display: none;
 }

.social{
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
}

.social-icon{
  font-size: 1.7em;
  color: #374054;
  z-index: -1;
}


#bio{
  margin: 0 auto;
}

#pro-upload{
  color:  rgba(57,63,72,0.5);
  border: 0.5px solid rgba(57,63,72,.2);
  background-color: transparent;
}

#recommend,#star-rating{
  width: auto;
  float: right;
  margin: 1em auto;
  padding: 0 0.4em;
}

.popup_inner textarea{
  width: 70%;
  height: 50%;
  display: block;
  margin: 1em auto;
}

.square-container{
  display: flex;
  align-items: center;
}

.contact-tab,.tablink.contact-tab{
  display: none;
}

input{
  height:3.5em;
}

#rating{
  width: 2.5em;
  padding: 0.5em;
}

#recommend{
  margin-right: 10em;
}

@media only screen and (max-width: 1100px) {

  .contact-tab.tab-content-visible{
    display: block;
  }

  #about-user p, #about-user div,#name{
    text-align: center;
    margin: 0 auto;
    display: block;
  }

.tablink.contact-tab{
    display: inline-block;
  }
  .about-body,#recommend{
    display: block;
    float: none;
  }

  #recommend{
    margin-right: auto;
  }

  #bio-contact{
    display: none;
  }
  #about-user .about-expand{
    display: none;
  }
}

@media only screen and (max-width: 780px) {

  .input-flex{
    display: block;
  }

#pro-pic{
  height: 40vw;
  }
}
