#body{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(5,20%);
  width: 75%;
  margin: 0 auto;
  position: absolute;
  top: 60px;
  bottom: 0;
  grid-column-gap:4em;
}

.flex-box{
  display: flex;
  justify-content: center;
}


#pro-pic{
  width: 250px;
  height:250px;
  background-image: url("/../static/asia-resume.jpg");
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  border:0.5px solid #dee4ed;
}

#pro-pic p {
  visibility: hidden;
}

#pro-pic:hover p {
  visibility: visible;
  font-weight: bold;
  color:black;
}

#pro-pic:hover {
  opacity: 0.3;
}

caption {
    color:#363636;
    font-weight: bold;
}

#about-me{
  grid-row: 3/5;
  grid-column: 1;
}


#resume{
  grid-column: 2;
  grid-row: 1/6;
  margin-top: 2em;

}

#aboutUser{
  margin-top: 2em;
  grid-row-start: 1;
}

#about-edit{
  font-size: 1em;
}

#bio h1{
  text-align: center;
  line-height: normal;
}



section p{
  text-align: left;
}

form{
  width: 100%;
}

.input-small.group-1{
  width: 30%;
  margin-right: 6px;
}

.input-small.group-2{
  width: 20%;
  margin-left:6px;
}

.accordion{
  padding: 13px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  border:0.5px solid rgb(22, 114, 26);
  border:1px solid transparent;
  background-color:rgb(17, 300, 20,0.1);
}

.form{
  display: none;
  overflow: hidden;
}

button h2{
  font-size: 1.5rem;
  color: #374054;
}

.main{
    display: inline-block;
    font-size: 1.2rem;
}

.res-item{
  padding: 0 4px;
  font-size: 1rem;
  line-height: 1.3;

}

.position{
  font-style: italic;
}

.date{
  margin: 0;
  line-height: normal;
}

.desc{
  margin-top: 3px;
}

button.delete{
  position: absolute;
  right: 0px;
  font-size: 1rem;
  color: transparent;
}

.delete:hover{
  color:grey;
}

.expand{
  position: absolute;
  right: 2em;
  font-size: 1rem;
  color: #374054;
  margin-top: 0.5em;
}


.about-expand{
  display: inline-flex;
  color: #374054;
  float: right;
  font-size: 1rem;
  margin-top: 0.5em;
  margin-right: 1em;
}

.table{
  margin-top: 1em;
}

.skill{
  display: inline-flex;
  margin: 5px;
  border-radius: .25rem;
  line-height: 2rem;
  overflow: hidden;
  padding: .2rem 1rem;
  width: auto;
  border-radius: .25rem;
  text-align: center;
  border: 0.5px solid rgb(39, 179, 45,0.1);
  font-size: 0.8em;
  letter-spacing: .03rem;
  text-transform: uppercase;
  font-weight: 700;
  min-width: 2rem;
}

button.deleteSkill{
  font-size: 0.8em;
}

label{
  font-size:0.8rem;
 }
