.about-body{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(20,5%);
  width: 75%;
  margin: 0 auto;
  position: absolute;
  top: 60px;
  bottom: 0;
  grid-column-gap:4em;
}

.flex-box{
  display: flex;
  justify-content: center;
}

.about-header{
  position: absolute;
  top:0px;
  width: 100%;
  height: 23%;
  background-color: #edeae5;
  box-shadow: 0 3px 15px rgba(57,63,72,.3);
}

#pro-pic{
  height:auto;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  border:0.5px solid #dee4ed;
  box-shadow: 0 3px 15px rgba(57,63,72,.8);
  margin: 0 auto;
  grid-row-start: 1;
}


#about-me{
  grid-row-start:3;
  grid-column: 1;
}


#resume{
  grid-column: 2;
  grid-row-start:4;
  margin-top: 2em;
}


section p{
  text-align: left;
}

form{
  width: 100%;
}

.input-small.group-1{
  width: 30%;
  margin-right: 6px;
}

.input-small.group-2{
  width: 20%;
  margin-left:6px;
}

#bio-contact{
  grid-row-start:9;
}

.accordion{
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  transition: none;
  text-transform: uppercase;
  border:none;
  background-color: transparent;
  border-bottom: 1px solid #e27d60;
  border-radius: 0;
  padding: 0.2em;
}

.form{
  overflow: hidden;
  margin: 1em;
}

.accordion h2{
  font-size: 1rem;
  color: #374054;
  font-weight: normal;
}

.caption{
  line-height: normal;
  margin-top:1em;
  text-align: left;
}

.left{
  margin-left: 1em;
}
span svg{
  margin-right:3px;
}

#about-user{
  grid-row-start: 1;
  grid-column: 2;
}

#name{
  display: inline-block;
  font-weight: normal;
  font-size: 2.5rem;
  text-transform: capitalize;
  line-height: normal;
}

#about-user p{
  padding: 0;
  margin: 0;

}

.main{
    display: inline-block;
    font-size: 1.2rem;
}

.res-item{
  padding: 0 4px;
  font-size: 0.95em;
  line-height: 1.3;
}

.position{
  font-style: italic;
}

.date{
  margin: 0;
  line-height: normal;
}

.desc{
  margin-top: 3px;
}

.edu{
  line-height: normal;
  margin-top: 3px;
}

.expand{
  position: relative;
  font-size: 1rem;
  color: #374054;
  float: right;
  margin-top: 0.5em;
}

.about-expand{
  color:rgba(55, 64, 84,0.9);
  font-size: 1rem;
  padding: 0;
}

.table{
  margin-top: 1em;
}
.table.accordion{
  margin-bottom: 1em;

}

#aboutUser .form-group input.input-small{
  margin-right: 4px;
}

.edu-ex{
  border-bottom: 0.5px solid rgb(39, 179, 45,0.4);
  margin: 5px;
}

.skill{
  display: inline-flex;
  margin: 5px;
  border-radius: .25rem;
  line-height: 2rem;
  overflow: hidden;
  padding: .2rem 1rem;
  width: auto;
  border-radius: .25rem;
  text-align: center;
  border: 0.5px solid rgba(39, 179, 45,0.1);
  font-size: 0.8em;
  letter-spacing: .03rem;
  text-transform: uppercase;
  font-weight: 700;
  min-width: 2rem;
}

.delete{
  font-size: 0.8rem;
  margin-left: 1em;
}

.delete:hover{
  cursor: pointer;
}

label{
  font-size:0.8rem;
 }

.hidden{
   display: none;
 }

.social{
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
}

.social-icon{
  font-size: 1.7em;
  color: #374054;
  z-index: -1;
}

#bio{
  margin: 0 auto;
}

#pro-upload{
  color:  rgba(57,63,72,0.5);
  border: 0.5px solid rgba(57,63,72,.2);
  background-color: transparent;
}

#recommend{
  width: auto;
  float: right;
  margin: 1em auto;
  padding: 0 0.4em;
}

.popup_inner textarea{
  width: 70%;
  height: 50%;
  display: block;
  margin: 1em auto;
}

@media only screen and (max-width: 1100px) {

  .about-body,#recommend{
    display: block;
    float: none;
  }
  .about-body2{
    display: block;
  }

   #pro-pic,#about-user p,#about-user span{
    display: block;
    text-align: center;
    font-size: 1em;
    line-height: normal;
  }

  #name{
    font-size: 1.5em;
  }
   #pro-pic{
     width:30vw;
   }

   .main.res-item{
      font-size: 0.9em;
   }

   .res-item,.position{
     font-size: 0.8em;
     line-height: normal;
   }
   .accordion h2{
     font-size: 1em;
   }

   .skill{
     font-size: 0.7em;
   }
   .social-icon{
     font-size: 1.3em;
   }

}


@media only screen and (max-width: 600px) {
  .about-header{
    height: 20%;
  }

  #pro-pic,#about-user p,#about-user span{
    font-size: 0.8em;
  }

  #name{
    font-size: 1.3em;
  }

  #pro-pic{
    width:37vw;
  }

   .main.res-item{
      font-size: 0.8em;
   }

   .res-item,.position{
     font-size: 0.7em;
     line-height: normal;
   }

   .skill{
     font-size: 0.6em;
   }
   .social-icon{
     font-size: 1.1em;
   }

}
