
.connect-body{
  align-items: center;
  margin: 0 auto;
  top: 7em;
  bottom: 0;
  position: relative;
  width: 100%;
}

#connect .flex-box{
  max-width: 80%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

#users{
  width: 100%;
  border-top: 0.5px solid rgb(39, 179, 45,0.3);
  padding-top: 2em;
  display: inline-grid;
  grid-column-gap:1em;
  grid-row-gap:1em;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}

button.tab-link-active{
  border-bottom: 2px solid rgb(39, 179, 45,0.1);
  background-color: transparent;
}

.invisible{
  color: transparent;
}

.tablink{
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: 0.8em;
}


.user-icon{
  display: inline-flex;
  align-self: center;
  justify-self:center;
  overflow: hidden;
  border: 0.5px solid rgb(39, 179, 45,0.1);
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 3px 15px rgba(57,63,72,.1);
  transition: box-shadow 0.7s;
}

#search-bar{
  position: relative;
  width: 100%;
  display: flex;
}

#search-bar input{
  position: relative;
  max-width:50%;
  height: 85%;
  border-radius: 25px;
}

.user-icon a{
 padding: 0;
 color: #374054;
}

.user-icon a:hover{
 color: black;
}

.user-icon:hover{
  box-shadow: 0 3px 15px rgba(57,63,72,.5);
}

#search-icon{
  color: rgb(39, 179, 45,0.5);
  font-size: 2.2em;
  display: inline-block;
  position: relative;
  margin-left: 0.5em;
  margin-top: 3px;
}

#search-icon:hover{
  cursor: pointer;
}

#reset{
  font-family: 'Nunito Sans';
  height: 10%;
  margin-left: 2em;
  color:  rgba(57,63,72,.4);
  border: 0.5px solid rgba(57,63,72,.2);
  background-color: transparent;
  margin-top: 4px;
}

.reset{
    font-size:0.9em;
    color:  rgba(57,63,72,.6);
    display: inline-block;
    font-family: 'Nunito Sans';
    text-transform: uppercase;
}

.search-label{
  padding-top: 1em;
  padding-bottom: 1em;

}

.username{ display: block;}
