

.connect-body{
  align-items: center;
  margin: 0 auto;
  top: 7em;
  bottom: 0;
  position: relative;
  width: 100%;
}

#connect .flex-box{
  max-width: 75%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

#users{
  width: 100%;
  display: inline-grid;
  grid-column-gap:1em;
  grid-row-gap:1em;
  grid-template-columns: repeat(auto-fill, minmax(170px,1fr));
  grid-template-rows: auto;
}

button.tab-link-active{
  border-bottom: 2px solid #e27d60;;
  background-color: transparent;
}

.invisible{
  color: transparent;
}

.tablink{
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: 0.8em;
  font-family: Montserrat,sans-serif;
  border-radius: 0;
  margin-bottom: 1em;
}


.user-icon{
  display: inline-flex;
  align-self: center;
  justify-self:center;
  overflow: hidden;
  border: 0.5px solid rgba(39, 179, 45,0.1);
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 3px 15px rgba(57,63,72,.1);
  transition: box-shadow 0.7s;
  background-color: white;
  border-radius: 5px;
}

#search-bar{
  position: relative;
  width: 100%;
  display: flex;
}

#search-bar input{
  color:rgb(186, 186, 186);
  position: relative;
  max-width:50%;
  height: 85%;
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  border: none;
  font-size: 1.5em;
  font-family: arial;
}

.user-icon a{
 padding: 0;
 color: #374054;
}

.user-icon:hover{
  box-shadow: 0 3px 15px rgba(57,63,72,.5);
}

#search-icon{
  color:rgb(186, 186, 186);
  font-size: 1.5em;
  display: inline-block;
  position: relative;
  margin-left: 0.5em;
  margin-top: 3px;
}

#connect form{
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid rgb(226, 125, 96);
  margin-bottom: 1em;
}


#connect select{
  width: auto;
  position: absolute;
  bottom: 2em;
  right: 0;
  background-color: rgba(244, 249, 246,0.2);
  font-family: arial;
  padding: 0.5em 1em;
}

.reset{
    font-size:0.9em;
    color:  rgba(57,63,72,.6);
    display: inline-block;
    text-transform: uppercase;
}

.search-label{
  padding-bottom: 1em;

}

.username{
  display: block;
}

#reset{
  margin-right: 2em;
  color:  rgba(57,63,72,.4);
  border: 0.5px solid rgba(57,63,72,.2);
  background-color: transparent;
  padding: 0 1.5em;
  font-family: arial

}

.inline-block{
  display: inline-block;
  margin: 0 auto;
  height: 33px;
}

@media only screen and (max-width: 780px) {
  #users{
  grid-template-columns: repeat(auto-fill, minmax(130px,1fr));
}
}
