
.connect-body{
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 5em;
  bottom: 0;
  grid-column-gap:2em;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 1em;
  width:75%;

}

.user-icon{
  max-height: 100%;
  max-width: 80%;
  align-self: center;
  overflow: hidden;
  border-radius: 5%;
  border: 0.5px solid rgb(39, 179, 45,0.1);
  padding: 1rem;
  text-align: center;
  background-color:rgb(17, 300, 20,0.2);
}

.user-icon a{
 padding: 0;
 color: #374054;
}

.user-icon a:hover{
 color: black;
}

.username{ display: block;}

#connect .pro-pic{
  border-radius: 10%;
}
