/* HOME and NAV */

body{
  background-color: rgba(244, 249, 246,0.2);
  font-family:sans-serif;
}

.nav-link{
  color: #374054;
}


div.header{
  height: 55px;
  display: flex;
  box-shadow: 0 3px 15px rgba(57,63,72,.6);
}

div.header{
  background-color:  #27B32D;
}

h1.title{
  font-size: 40px;
  color: white;
  text-align: left;
}

div#home{
  background-image: url("/../static/coding.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


 input[type=text].login-input, input[type=password].login-input{
  margin-right: 10px;
  width: 30%;
  height: 33px;
}

#login-submit,button.submit{
  display:inline;
  background-color: #346D2F;
  border-color: #346D2F;
  padding: 0;
  height: 33px;
  width: 80px;
  border: 1px solid transparent;
  border-radius: .25rem;
}


button.submit{
   margin: 0 auto;
   background-color:#346D2F;
   color:white;
   font-family: Montserrat,sans-serif;
   display: block;
}


#login-submit:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  -moz-transition: all .3s;
  background: #eee;
}

#login-form{
  display: inline-flex;
  align-items: center;
}

div#register-div{
  margin-top:50px;
  width:35%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding-bottom: 10px;
}

#banner{
  padding-top: 25px;
  font-size: 2em;
  font-weight: bold;
}

#banner2{
  font-size: 1.5em;
  padding-bottom: 10px;
}
#register-div form{
     margin: 0 auto;
     width:80%;
}

form .row {
    padding: 0;
}

h1{
text-align: center;
}

p{
  text-align: center;
}

#home div.form-group{
  margin:0;
  display: block;
  position: absolute;
  right: 0px;
}

div.nav-item{
  display: inline-flex;
  color: #346D2F;
  padding: 0;
}

.header{
  padding: 0;
}

.nav-right{
  position: absolute;
  right: 0px;
}

#register-div input, .inputdiv{
  margin-bottom: 10px;
}

.logo{
  margin-top: 4px;
  margin-right: 7px;
  max-height:0.9em;
}

tr:hover td, tr:hover th{
  background:rgb(236, 255, 234);
}

#forum .table tr,#about .table tr,#aboutUser .table tr{
  transition: none;
}
