div.header{
  background:#27B32D;
  height: 80px;

}

.row{
  padding-top: 0px;
  padding-bottom: 0px;
}

.inputdiv{
  margin-top: 30px;
}

.picdiv{
      margin-top: 200px;
}

 input[type=text].login-input, input[type=password].login-input{
  margin-top: 15px;
  margin-right: 15px;
  width: 50%;
}

#login-submit{
  display:inline;
}

form#login-form{
  margin-left: 650px;
}

.formdiv{
  margin-top: 200px;
}

form{
     margin: 0 auto;
     width:500px;
}

button.submit{
   margin: 0 auto;
   background-color:#346D2F;
   color:white;
   border-color: #346D2F;
}

h1{
text-align: center;
}

p{
  text-align: center;

}

img{
  display:block;
   margin:auto;
}
