div.header{
  background: #27B32D;
  height: 70px;

}

h1.title{
  color:#363636;
  font-size: 40px;

}


div#home{
  background-image: url("/../static/coding.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.inputdiv{
  margin-top: 30px;

}


 input[type=text].login-input, input[type=password].login-input{
  margin-top: 15px;
  margin-right: 10px;
  width: 30%;
  height: 35px;
}

#login-submit{
  display:inline;
  background-color: #346D2F;
  border-color: #346D2F;
  padding: 0;
  height: 40px;
  width: 80px;
  border: 1px solid transparent;
  border-radius: .25rem;
}


#login-submit:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  -moz-transition: all .3s;
  background: #eee;
}


form#login-form{
  margin-left: 540px;
}

div#register-div{
  margin-top:50px;
  width:35%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding-bottom: 10px;
}

#banner{
  padding-top: 25px;
  font-size: 2em;
  font-weight: bold;
}

#banner2{
  font-size: 1.5em;
  padding-bottom: 10px;
}

form{
     margin: 0 auto;
     width:80%;
}

form .row {
    padding: 0;
}

input[type=text].login-input, input[type=password].login-input {
    margin-top: 20px;
    margin-right: 10px;
    width: 15%;
    height: 35px;
}

button.submit{
   margin: 0 auto;
   background-color:#346D2F;
   color:white;
}

h1{
text-align: center;
}

p{
  text-align: center;

}
