/* HOME and NAV */


body{
  background-color: rgba(237, 234, 229,0.1);
  font-family:sans-serif;
}

.nav-link,.nav-item li{
  color: #374054;
}


div.header{
  height: 55px;
  display: flex;
  box-shadow: 0 3px 15px rgba(57,63,72,.6);
  background-color:  #41b3a3;
}

div.header-brand,.nav-right{
  height:55px;
}

h1.title{
  font-size: 2.5em;
  color: white;
  text-align: left;
  display: inline;
}

#home,#user-settings{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./coding.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#media-login{
  display: none;
}

 input[type=text].login-input, input[type=password].login-input{
  margin-right: 1em;
  width: 30%;
  height: 2.5em;
}

#login-submit,button.submit{
  display:inline;
  background-color: #374054;
  border-color: #374054;
  padding: 0;
  height: 2.8em;
  width: 7em;
  border: 1px solid transparent;
  border-radius: .25rem;
  color:white;
  font-family: sans-serif;
}


button.submit{
   margin: 0 auto;
   display: block;
}

#login-submit:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  -moz-transition: all .3s;
  background: #eee;
}

#login-form{
  display: inline-flex;
  align-items: center;
}

#user-div{
  vertical-align: middle;
   width:500px;
   overflow:scroll;
   padding-top: 55px;
}

#banner{
  padding-top: 1.5em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;

}

#banner2{
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
}

.form-container{
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding-bottom: 1em;
}



#user-div form{
     margin: 0 auto;
     width:80%;
     padding-bottom: 1.5em;
}


#home p{
  text-align: center;
  line-height: normal;
}

#home div.form-group{
  margin:0;
  display: block;
  position: absolute;
  right: 0;
}

div.nav-item{
  display: inline-flex;
  color: #346D2F;
  padding: 0;
}


.nav-right{
  position: absolute;
  right: 0;
}

.inputdiv{
  margin-top: 1em;
}

.logo{
  max-height:0.9em;
}

.errors{
  font-size: 0.9em;
  line-height: normal;
}


.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 1;
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 10px;
  background: white;
}

.popup_inner{
  padding-bottom: 1em;
}

.popup_inner p{
  text-align: center;
}

.login-popup h1{
  text-align: center;
}

#delete-user{
  width: auto;
  margin: 1em auto;
  padding: 0 0.4em;
  background-color:red;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 2.8em;
  background-color: #f1f1f1;
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown-content ul{
    padding: 0;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(73, 75, 79);}



@media only screen and (max-width: 780px) {
  #back{
      font-size: 1em;
      padding: 0;
    }

  h1.title{
    font-size: 1.7em;
    margin: 0
    }

 #login-form{
   display: none;
 }

 .nav-right,h1.title{
   display: none;
 }

 .dropdown{
   display: inline;
   position: absolute;
   right: 0;
   top:0;
 }

.dropbtn,#media-login {
   display: inline;
   position: absolute;
   right: 0.5em;
   top:0.2em;
 }

 #media-login{
    right: 1em;
    top:1em;
 }

#home input, #home select{
   height: 3em;
   font-size: 0.9em;
   line-height: 1em;
 }

}

@media only screen and (max-width: 600px) {
  #user-div{
    width: 100%;
    height: 100%;
  }
  .form-container{
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
  .popup_inner{
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: auto;
  }


}
